#Metadata and dependencies section
[Unit]
Description=Recorder Web View service
After=network.target
#Define users and app working directory
[Service]
User=pi
Group=www-data
WorkingDirectory=/home/pi/recorder
Environment="PATH=/home/pi/recorder/webvenv/bin"
ExecStart=/home/pi/recorder/webvenv/bin/uwsgi --ini recorder-web.ini
#Link the service to start on multi-user system up
[Install]
WantedBy=multi-user.target