#Metadata and dependencies section
[Unit]
Description=Recorder Web View service
After=network.target

#Define users and app working directory
[Service]
User=pi
Group=pi
WorkingDirectory=/home/pi/recorder
ExecStart=/home/pi/recorder/webvenv/bin/python simpleweb.py

#Link the service to start on multi-user system up
[Install]
WantedBy=multi-user.target
