[Unit]
Description=Temperature and Humidity recorder

[Service]
User=pi
Group=pi
Type=simple
#Environment="AZ_URL=http://localhost:7071/api/RecordOneReading"
WorkingDirectory=/home/pi/recorder
ExecStart=/home/pi/recorder/recvenv/bin/python recorder.py 22 18 900
Restart=on-failure

[Install]
WantedBy=multi-user.target
